  include <P18CXXX.INC>

SWTXD           equ     PORTB           ; Transmit pin port and pin
SWTXDpin        equ     4
TRIS_SWRXD      equ     TRISB           ; Receive pin tris and pin

        EXTERN  DelayRXHalfBitUART
        EXTERN  DelayRXBitUART
        EXTERN  BitCount

UARTCODE        CODE
;************************************************************************
;*      Function Name:  TestFunction                                    *
;*      Return Value:   void                                            *
;*                                                                      *
;************************************************************************
WriteUART:
        banksel uartdata
        ; Retrieve character from stack.
        movlw   0xFF
        movff   PLUSW1,uartdata

        movlw   0x09            ; Set bit counter for 9 bits
        movwf   BitCount
        bcf     STATUS,C        ; Send start bit (carry = 0)
        banksel SWTXD
        goto    SendStart
SendBit:
        banksel uartdata
        rrcf    uartdata,F      ; Rotate next bit into carry
SendStart:
        banksel SWTXD
        btfss   STATUS,C        ; Set or clear TXD pin according
        bcf     SWTXD,SWTXDpin  ; to what is in the carry
        btfsc   STATUS,C
        bsf     SWTXD,SWTXDpin
        call    DelayTXBitUART  ; Delay for 1 bit time
        banksel BitCount
        decfsz  BitCount,F      ; Count only 9 bits
        goto    SendBit
        banksel SWTXD
        bsf     SWTXD,SWTXDpin  ; Stop bit is high
        call    DelayTXBitUART  ; Delay for stop bit
        return

        GLOBAL  WriteUART

        END
